{% set output = manager.configureElement() %}
{% set data = component.load() %}
{% if (output) %}
{{ output|raw }}
{% else %}
    {% set data = manager.getData() %}
    {% set element = manager.getElement() %}
    {% set results = manager.getResults() %}
    <style type="text/css">
        .paradigm-config-descriptor {
            font-size: .8em; font-family: serif; letter-spacing: 2px;
        }
        .paradigm-config-field {
            font-size: 1em; font-family: sans-serif; text-align: right; padding-right: 4px;
        }
        .paradigm-config-cell {
            width: 33%; margin: 1px; background-color: #e8e8e8;  border: 1px solid #d0d0d0; padding-left: 2px
        }
    </style>
    <table style="width: 100%; height: 100%">
        <tr style="height: 30px">
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Type</div><div class="paradigm-config-field">{{ results.type }}</div></td>
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Shape</div><div class="paradigm-config-field">{{ results.shape }}</div></td>
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Mongo ID</div><div class="paradigm-config-field">{{ results.id }}</div></td>
        </tr>
        <tr style="height: 30px">
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Namespace</div><div class="paradigm-config-field">{% if (element.getNamespace()) %}{{ element.getNamespace() }}{% else %}N/A{% endif %}</div></td>
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Component</div><div class="paradigm-config-field">{% if (element.getComponent()) %}{{ element.getComponent() }}{% else %}N/A{% endif %}</div></td>
            <td class="paradigm-config-cell"><div class="paradigm-config-descriptor">Method</div><div class="paradigm-config-field">{% if (element.getMethod()) %}{{ element.getMethod() }}{% else %}N/A{% endif %}</div></td>
        </tr>
            <tr>
                <td colspan=3 align='center' valign='middle'>
                    No additional configuration available
                </td>
            </tr>
    </table>
{% endif %}
