<style type="text/css">
    #log-viewer-header-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-sizing: border-box; font-size: 1.5em; padding: 5px 2px;
    }
    #log-viewer-footer-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-sizing: border-box; font-size: .8em; padding: 5px 2px;
    }
    #log-viewer-body-{{ window_id }} {
        box-sizing: border-box; height: 100%; overflow: hidden; white-space: nowrap
    }
    .log-viewer-list-log {
        width: 65px; height: 65px; margin-bottom: 12px; padding: 5px; border: 1px solid #333; color: #333; background-color: ghostwhite; border-radius: 5px; text-align: center; display: inline-block
    }
    .log-viewer-list-log:hover {
        background-color: rgba(202,202,202,.8); cursor: pointer;
    }
    .color-palette-cell {
        width: 15px; height: 15px; border: 1px solid #333; cursor: pointer; background-color: white; display: inline-block; vertical-align: top; margin-right: 2px
    }
</style>
<div id="log-viewer-header-{{ window_id }}">
    <div style="float: left; margin-left: 5px; background-color: ghostwhite">
        <img src="/images/humble/expand.png" style="height: 20px; cursor: pointer" id="expand-palette-{{ window_id }}"/>
        <img src="/images/humble/collapse.png" style="height: 20px; cursor: pointer; display: none" id="collapse-palette-{{ window_id }}" />
    </div>
    <input type="button" style="color: #333; float: right" value="  Clear  " onclick="Administration.logs.clear('{{ log }}','{{ window_id }}')" />
    <div style="clear: both"></div>

    <div style="clear: both; display: none" id="palette-options-{{ window_id }}">
        <div class="color-palette-cell" log="{{ log }}" style="background-color: white"     color="white"></div>    
        <div class="color-palette-cell" log="{{ log }}" style="background-color: black"     color="black"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: darkgray"  color="darkgray"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lightgray" color="lightgray"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lightcyan" color="lightcyan"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: green"     color="green"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: red"       color="red"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: blue"      color="blue"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: teal"      color="teal"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: yellow"    color="yellow"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lime"      color="lime"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: navajowhite" color="navajowhite"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: navy"      color="navy"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: olive"     color="olive"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: aqua"      color="aqua"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: fuchsia"   color="fucshia"></div>
        <select name="editor-option" id="editor-option-{{ window_id }}" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top">
            <option value="" disabled selected hidden>Log Color </option>
            <option value="foreground"> Foreground Color </option>
            <option value="background"> Background Color </option>
        </select>
        <select name="editor-font" id="editor-font-{{ window_id }}" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top; margin: 0px 5px">
            <option value="" disabled selected hidden>Font</option>
            <option value="Monospace"> Monospace </option>
            <option value="Courier New"> Courier New </option>
            <option value="Arial"> Arial </option>
        </select>
        <select name="editor-font-size" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top">
            <option value="" disabled selected hidden>Font Size</option>
            <option value=".5em"> 50% </option>
            <option value=".75em"> 75% </option>
            <option value=".90em"> 90% </option>
            <option value="1.00em"> 100% </option>
            <option value="1.25em"> 125% </option>
            <option value="1.50em"> 150% </option>
            <option value="1.75em"> 175% </option>
            <option value="2.00em"> 200% </option>
            <option value="2.25em"> 225% </option>
            <option value="2.50em"> 250% </option>
            <option value="2.75em"> 275% </option>
            <option value="3.00em"> 300% </option>
        </select>
    </div>
</div>
<div id="log-viewer-body-{{ window_id }}">
    <textarea style="width: 100%; height: 100%; background-color: lightcyan; color: #333" id="log-viewer-textarea-{{ window_id }}" name="log-viewer-textarea-{{ window_id }}"></textarea>
</div>
<div id="log-viewer-footer-{{ window_id }}">
    Humble Project, all rights reserved
</div>
<script type="text/javascript">
    var win         = Desktop.window.list['{{ window_id }}'];
    win.header      = $E('log-viewer-header-{{ window_id }}');
    win.body        = $E('log-viewer-body-{{ window_id }}');
    win.footer      = $E('log-viewer-footer-{{ window_id }}');
    win.viewer      = $E('log-viewer-textarea-{{ window_id }}');
    win.timer       = null;
    win.viewing     = '{{ log }}';
    win.refresh     = (function (win) {
        return function () {
            if ($E('log-viewer-textarea-{{ window_id }}')) {
                Administration.logs.fetch(win.viewing,win.id);
                window.clearTimeout(win.timer);
                win.timer = window.setTimeout(win.refresh,10000);
            } else {
                window.clearTimeout(win.timer);
            }
        }
    })(win);
    win.resize      = (function (win) {
        return function () {
            var h = (win.content.offsetHeight - win.header.offsetHeight - win.footer.offsetHeight - 5) + "px";
            win.body.style.height    = h;
            win.body.style.width     = (win.content.offsetWidth)+"px";
        };
    })(win);
    win.resize();
    win.timer = window.setTimeout(win.refresh,10000);
    Administration.logs.fetch(win.viewing,win.id);
    $('#expand-palette-{{ window_id }}').on('click',function (evt) {
        let win = Desktop.window.list['{{ window_id }}'];
        $('#palette-options-{{ window_id }}').slideToggle(win.resize);
        $('#expand-palette-{{ window_id }}').css('display','none');        
        $('#collapse-palette-{{ window_id }}').css('display','block');
    });    
    $('#collapse-palette-{{ window_id }}').on('click',function (evt) {
        $('#palette-options-{{ window_id }}').slideToggle(win.resize);
        $('#collapse-palette-{{ window_id }}').css('display','none');        
        $('#expand-palette-{{ window_id }}').css('display','block');
    });
    $('.color-palette-cell').on('click',function (evt) {
        let cell    = evt.target;
        let log     = cell.getAttribute('log');
        if (log) {
            let color = cell.getAttribute('color');
            let area  = $('#').val();
            if (!area) {
                alert('Set log color region first');
            } else {
                EasyAjax.setCookie('log-'+log+'-'+)
            }
        }
        console.log(target);
    }); 
    if (EasyAjax.getCookie('log-{{ log }}-foreground')) {
        let fg = EasyAjax.getCookie('log-{{ log }}-foreground-color');
        let bg = EasyAjax.getCookie('log-{{ log }}-backgroundground-color');
        let fn = EasyAjax.getCookie('log-{{ log }}-font');
        let sz = EasyAjax.getCookie('log-{{ log }}-font-size');
    }
</script>