<style type="text/css">
    #log-viewer-header-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-style: border-box; font-size: 1.5em; padding: 5px 2px;
    }
    #log-viewer-footer-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-style: border-box; font-size: .8em; padding: 5px 2px;
    }
    #log-viewer-body-{{ window_id }} {
        box-style: border-box; height: 100%; overflow: hidden; white-space: nowrap
    }
    .log-viewer-list-log {
        width: 65px; height: 65px; margin-bottom: 12px; padding: 5px; border: 1px solid #333; color: #333; background-color: ghostwhite; border-radius: 5px; text-align: center; display: inline-block
    }
    .log-viewer-list-log:hover {
        background-color: rgba(202,202,202,.8); cursor: pointer;
    }
</style>
<div id="log-viewer-header-{{ window_id }}">
<input type="button" style="color: #333; float: right" value="  Clear  " onclick="Administration.logs.clear('{{ log }}','{{ window_id }}')" />
<div style="clear: both"></div>

</div>
<div id="log-viewer-body-{{ window_id }}">
    <textarea style="width: 100%; height: 100%; background-color: lightcyan; color: #333" id="log-viewer-textarea-{{ window_id }}" name="log-viewer-textarea-{{ window_id }}"></textarea>
</div>
<div id="log-viewer-footer-{{ window_id }}">
    Humble Project, all rights reserved
</div>
<script type="text/javascript">
    var win         = Desktop.window.list['{{ window_id }}'];
    win.header      = $E('log-viewer-header-{{ window_id }}');
    win.body        = $E('log-viewer-body-{{ window_id }}');
    win.footer      = $E('log-viewer-footer-{{ window_id }}');
    win.viewer      = $E('log-viewer-textarea-{{ window_id }}');
    win.timer       = null;
    win.viewing     = '{{ log }}';
    win.refresh     = (function (win) {
        return function () {
            if ($E('log-viewer-textarea-{{ window_id }}')) {
                Administration.logs.fetch(win.viewing,win.id);
                window.clearTimeout(win.timer);
                win.timer = window.setTimeout(win.refresh,10000);
            } else {
                window.clearTimeout(win.timer);
            }
        }
    })(win);
    win.resize      = (function (win) {
        return function () {
            var h = (win.content.offsetHeight - win.header.offsetHeight - win.footer.offsetHeight - 5) + "px";
            win.body.style.height    = h;
            win.body.style.width     = (win.content.offsetWidth)+"px";
        };
    })(win);
    win.resize();
    win.timer = window.setTimeout(win.refresh,10000);
    Administration.logs.fetch(win.viewing,win.id);
</script>