<table style="width: 100%; height: 100%">
    <tr>
        <td>
            <div style="width: 600px; margin-left: auto; margin-right: auto;">
                <form onsubmit="return false" name="export_target_form" id="export_target_form-{{window_id}}">
                    <fieldset style="padding: 20px"><legend>New Export Target</legend>
                        Identify the target URL below to export your workflows to, give it an alias, and then generate the security token that will
                        need to be imported at that target URL.<br /><br />
                        <input type="text" name="target" id="target-{{window_id}}" style="" /><br />
                        Target Site<br /><br/>
                        <input type="text" name="alias" id="alias-{{window_id}}" style="" /><br />
                        Alias<br/><br/>
                        <input type="text" name="token" id="token-{{window_id}}" style="" /><input type="button" name="generate" id="generate-{{window_id}}" value=" Generate " /><br />
                        Security Token<br /><br/>
                        <input type="button" name="submit" id="submit-{{window_id}}" value=" Save " />
                    </fieldset>
                </form>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var ee = new EasyEdits(null,'export_target-{{ window_id }}');
    ee.fetch('/edits/paradigm/target');
    ee.process(ee.getJSON().replace(/&window_id&/g,'{{ window_id }}'));
</script>