<div id='ace_editor_{{ window_id }}' class='w-full border-2 border-black'>
{{ code.fetchSourceCode() }}
</div>
{% set id = code._uniqueId() %}
<script>
    (() => {
        var win = Desktop.window.list['{{ window_id }}'];
        $('#ace_editor_{{ window_id }}').height(win.content.height() - $('#code_nav_{{ window_id }}').height()-4);
        var editor_{{ id }} = ace.edit("ace_editor_{{ window_id }}");
        editor_{{ id }}.setTheme("ace/theme/monokai");
        editor_{{ id }}.session.setMode("ace/mode/php");   
        win.resize(() => {
            $('#ace_editor_{{ window_id }}').height(win.content.height() - $('#code_nav_{{ window_id }}').height()-4);
        });
        $('#save_button_{{ window_id }}').on('click',() => {
            (new EasyAjax('/admin/code/save')).add('type','{{ type }}').add('resource','{{ resource }}').add('source_code',editor_{{ id }}.getValue()).then( (response) => {
                alert(response);
            }).post();
        });        
    })();
</script>

