<div id='code_nav_{{ window_id }}'>
</div>
<div id='browse_code_{{ window_id }}'>
    <div widget="codeBox" widgetScroll="100%" lang="php" source="/admin/code/fetch?namespace={{ namespace }}&type={{ type }}&resource={{ resource }}" style='white-space: nowrap' lexicon="/pages/js/ColorizerLanguages.json" class="humble-code text-mono w-full h-full border-black"></div>
</div>
<div id='edit_code_{{ window_id }}'>
</div>
<script>
    (() => {
        let tabs = new EasyTab('code_nav_{{ window_id }}',120);
        let f = (() => {
            let loaded = false;
            return () => {
                if (!loaded) {
                    (new EasyAjax('/admin/code/edit')).add('window_id','{{ window_id }}').add('namespace','{{ namespace }}').add('type','{{ type }}').add('resource','{{ resource }}').then( (response) => {
                        $('#edit_code_{{ window_id }}').html(response);
                    }).post();
                    loaded = true;
                }
            }
        })();
        tabs.add('Explore',false,'browse_code_{{ window_id }}');
        tabs.add('Edit',f,'edit_code_{{ window_id }}');
        tabs.tabClick(0);
    })();
</script>
    