<style type="text/css">
    #log-viewer-header-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-sizing: border-box; font-size: 1.5em; padding: 5px 2px;
    }
    #log-viewer-footer-{{ window_id }} {
        background-color: #333; color: ghostwhite; position: relative; box-sizing: border-box; font-size: .8em; padding: 5px 2px;
    }
    #log-viewer-body-{{ window_id }} {
        box-sizing: border-box; height: 100%; overflow: hidden; white-space: nowrap
    }
    .log-viewer-list-log {
        width: 65px; height: 65px; margin-bottom: 12px; padding: 5px; border: 1px solid #333; color: #333; background-color: ghostwhite; border-radius: 5px; text-align: center; display: inline-block
    }
    .log-viewer-list-log:hover {
        background-color: rgba(202,202,202,.8); cursor: pointer;
    }
    .color-palette-cell {
        width: 15px; height: 15px; border: 1px solid #333; cursor: pointer; background-color: white; display: inline-block; vertical-align: top; margin-right: 2px
    }
</style>
<div id="log-viewer-header-{{ window_id }}">
    <div style="float: left; margin-left: 5px;">
        <i onclick="tools.toggle(this,document.getElementById('palette-options-{{ window_id }}'));" class="glyphicons glyphicons-collapse" style="transform: rotate(90deg); font-size: 30px; color: ghostwhite" ></i>        
    </div>
        <button class="pr-2 pl-2 pt-1 pb-1" style="color: #333; background-color: silver; float: right" onclick="Administration.logs.clear('{{ log }}','{{ window_id }}')"> Clear </button>
    <div style="clear: both"></div>

    <div style="clear: both; display: none" id="palette-options-{{ window_id }}">
        <div class="color-palette-cell" log="{{ log }}" style="background-color: white"     color="white"></div>    
        <div class="color-palette-cell" log="{{ log }}" style="background-color: black"     color="black"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: darkgray"  color="darkgray"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lightgray" color="lightgray"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lightcyan" color="lightcyan"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: green"     color="green"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: red"       color="red"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: blue"      color="blue"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: teal"      color="teal"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: yellow"    color="yellow"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: lime"      color="lime"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: navajowhite" color="navajowhite"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: navy"      color="navy"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: olive"     color="olive"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: aqua"      color="aqua"></div>
        <div class="color-palette-cell" log="{{ log }}" style="background-color: fuchsia"   color="fucshia"></div>
        <select name="editor-option" id="editor-option-{{ window_id }}" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top; color: #333">
            <option value="" disabled selected hidden>Log Color </option>
            <option value="color"> Foreground Color </option>
            <option value="background-color"> Background Color </option>
        </select>
        <select name="editor-font" id="editor-font-{{ window_id }}" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top; margin: 0px 5px; color: #333">
            <option value="" disabled selected hidden>Font</option>
            <option value="Monospace"> Monospace </option>
            <option value="Courier New"> Courier New </option>
            <option value="Arial"> Arial </option>
            <option value="Verdana"> Verdana </option>
            <option value="Times New Roman"> Times New Roman </option>
            <option value="Georgia"> Georgia </option>
            <option value="Garamond"> Garamond </option>
            <option value="Trebuchet MS"> Trebuchet MS </option>
            <option value="Brush Script MT"> Cursive </option>
        </select>
        <select name="editor-font-size" id="editor-font-size-{{ window_id }}" log="{{ log }}" window_id="{{ window_id }}" style="font-size: .5em; padding: 2px; vertical-align: top; color: #333">
            <option value="" disabled selected hidden>Font Size</option>
            <option value=".5em"> 50% </option>
            <option value=".75em"> 75% </option>
            <option value=".90em"> 90% </option>
            <option value="1.00em"> 100% </option>
            <option value="1.25em"> 125% </option>
            <option value="1.50em"> 150% </option>
            <option value="1.75em"> 175% </option>
            <option value="2.00em"> 200% </option>
            <option value="2.25em"> 225% </option>
            <option value="2.50em"> 250% </option>
            <option value="2.75em"> 275% </option>
            <option value="3.00em"> 300% </option>
        </select>
    </div>
</div>
<div id="log-viewer-body-{{ window_id }}">
    <textarea style="width: 100%; height: 100%; background-color: lightcyan; color: #333" id="log-viewer-textarea-{{ window_id }}" name="log-viewer-textarea-{{ window_id }}"></textarea>
</div>
<div id="log-viewer-footer-{{ window_id }}">
    Humble Project, all rights reserved
</div>
<script type="text/javascript">
    var {{log}}Window = (function () {
        var win         = Desktop.window.list['{{ window_id }}'];
        
        win.header      = $E('log-viewer-header-{{ window_id }}');
        win.body        = $E('log-viewer-body-{{ window_id }}');
        win.footer      = $E('log-viewer-footer-{{ window_id }}');
        win.viewer      = $E('log-viewer-textarea-{{ window_id }}');
        win.timer       = null;
        win.viewing     = '{{ log }}';
        win.refresh     = (function (win) {
            return function () {
                if ($E('log-viewer-textarea-{{ window_id }}')) {
                    Administration.logs.fetch(win.viewing,win.id);
                    window.clearTimeout(win.timer);
                    win.timer = window.setTimeout(win.refresh,10000);
                } else {
                    window.clearTimeout(win.timer);
                }
            }
        })(win);

        win.resize(((win) => {
            return function () {
                win.body.style.height    = (win.content.offsetHeight - win.header.offsetHeight - win.footer.offsetHeight - 5) + "px";
                win.body.style.width     = (win.content.offsetWidth)+"px";
            };
        })(win));
        win.resize();
        win.timer = window.setTimeout(win.refresh,10000);
        Administration.logs.fetch(win.viewing,win.id);
        $('#editor-font-{{ window_id }}').on('change',function (evt) {
            let val = $(this).val();
            if (val) {
                EasyAjax.setCookie('log-{{ log }}-font',val);
                $('#log-viewer-textarea-{{ window_id }}').css('font-family',val);
            }
        });
        $('#editor-font-size-{{ window_id }}').on('change',function (evt) {
            let val = $(this).val();
            if (val) {
                EasyAjax.setCookie('log-{{ log }}-font-size',val);
                $('#log-viewer-textarea-{{ window_id }}').css('font-size',val);
            }
        });
        $('.color-palette-cell').on('click',function (evt) {
            let cell    = evt.target;
            let log     = cell.getAttribute('log');
            let area = $('#editor-option-{{ window_id }}').val();
            if (area && log) {
                let color = cell.getAttribute('color');
                EasyAjax.setCookie('log-'+log+'-'+area,color);
                $('#log-viewer-textarea-{{ window_id }}').css(area,color);
            }
        });
        if (EasyAjax.getCookie('log-{{ log }}-color')) {
            let fg = EasyAjax.getCookie('log-{{ log }}-color');
            let bg = EasyAjax.getCookie('log-{{ log }}-background-color');
            let fn = EasyAjax.getCookie('log-{{ log }}-font');
            let sz = EasyAjax.getCookie('log-{{ log }}-font-size');
            $('#log-viewer-textarea-{{ window_id }}').css('color',fg);
            if (bg) {
                $('#log-viewer-textarea-{{ window_id }}').css('background-color',bg);
            }
            if (fn) {
                $('#log-viewer-textarea-{{ window_id }}').css('font-family',fn);
                $('#editor-font-{{ window_id }}').val(fn);
            }
            if (sz) {
                $('#log-viewer-textarea-{{ window_id }}').css('font-size',sz);
                $('#editor-font-size-{{ window_id }}').val(sz);
            }
        } 
        return true;
    })();
</script>