<html>
    <head>
        <link rel='stylesheet' href='/css/admin'/>
        <link rel='stylesheet' href='/css/humble-bootstrap'/>
        <link rel="stylesheet" href="/css/widgets" />
        <link rel='stylesheet' href='/css/desktop'/>   
        <style type="text/css">
        body {
            overflow-y: hidden
        }
        .paradigm-desktop-icon          { 
            text-align: center;
            position: absolute;
            visibility: visible;
            display: inline-block;
            width: 68px;
            z-index: 3;
        }            
        </style>
        <script type="module">
            window.message_hub = {
                "host": "{{ hub_host }}",
                "port": "{{ hub_port }}"
            };
            import { DigitalClock,administration } from '/mjs/admin/functions.js';
            import { Desktop } from '/mjs/paradigm/DesktopModule.js';
            window.Administration = administration;
            window.DigitalClock = DigitalClock;
            window.Desktop = Desktop;
            $(window).ready(Desktop.init);
            $(document).ready(Administration.init);
            $(document).ready(() => {
                $('#minimized_windows_tray').css('left',((screen.width-600)/2));
            });
            Desktop.minimized.windows.renderer((() => {
                return (win) => {
                    if (win) {
                        Desktop.minimized.windows.list[win.id] = win;
                    }
                    var html = '';
                    for (var win_id in Desktop.minimized.windows.list) {
                        if (Desktop.minimized.windows.list[win_id].state === 1) {
                            html += '<img onclick="Desktop.minimized.windows.restore([\''+win_id+'\'])" style="float: left; position: relative; top: -35px; height: 55px; margin: 0px 5px 0px 5px; cursor: pointer" src="/images/paradigm/window.png"  title="'+Desktop.minimized.windows.list[win_id]._title()+'" />';
                        }
                    };
                    $('#minimized_windows_tray').html(html);
                }; 
            })());
        </script>        
        <script type="text/javascript" src='/js/humble-jquery'></script>
        <script type='text/javascript' src='/js/common'></script>
        <script type='text/javascript' src='/js/bootstrap'></script>
        <script type='text/javascript' src='/js/widgets'></script>        
        <script type="text/javascript" src='/js/admin'/></script>        
        <script type="text/javascript" src='/web/js/Colorizer.js'></script>
        <script type="text/javascript" src="/web/js/ace/ace.js"></script>
        <script>
        {% set tab_id = system.browserTabId()%}
        EasyAjax.always.add('browser_tab_id','{{ tab_id }}')
        EasyAjax.always.add('csrf_buster','{{ system.csrfBuster(tab_id) }}');
        const tools = {
            encryptFiles: (source,callback) => {
                fileInput   = (typeof source === 'string') ? $E(source) : source;
                if (fileInput.files) {
                    files = fileInput.files;
                    let fp = { }
                    for (let i in files){ 
                        if (files[i].lastModified) {
                            fp[i] = {
                                reader: new FileReader(),
                                source: files[i].name,
                                converted: false
                            }
                        }
                    }
                    for (i in fp) {
                        fp[i].reader.readAsBinaryString(files[i]);
                        fp[i].reader.onload = ((num) => {
                            return (event) => {
                                fp[num].converted = btoa(event.target.result);
                                let isDone = true;
                                for (let j in fp) {
                                    isDone = isDone && fp[j].converted;
                                }
                                if (isDone) {
                                    callback(fp);
                                }
                            };
                        })(i);
                    }
                }
            },
            id: (len) => {
                len = len ? len : 9;                                            //If nothing passed in, create a 9 character ID
                var alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';                    
                var id = '';
                for (var i=0; i<len; i++) {
                    id += alphabet.substr(Math.floor(Math.random() * Math.floor(26)),1);
                }
                return id;
            },
            value:  {
                set: (form,field_id,field_name,value) => {
                    form    = $E(form);
                    if (!form) {
                        return;
                    }
                    field   = $E(field_id) ? $E(field_id) : form.elements[field_name];
                    if (!field) {
//                        console.log('Missing Field: '+field_name+','+field_id);
                        return;
                    }
                    if (NodeList.prototype.isPrototypeOf(field)) {
                        if (typeof(value)=='string') {
                            value = value.toLowerCase();
                        }
                        for (var i=0; i<field.length; i++) {
                            field[i].checked = field[i].value.toLowerCase() == value;
                        }
                    } else {
                        if (field.type) {
                            switch (field.type.toLowerCase()) {
                                case "checkbox" :
                                    if ((value == 'ON') || (value == 'on')) {
                                        field.checked = true;
                                    } else {
                                        field.checked = (field.value == value);
                                    }
                                    break;
                                default : 
                                    $(field).val(value);
                                    break;
                            }
                        } else if (field.length) {
                            for (var i=0; i<field.length; i++) {
                                field[i].checked = (field[i].value == value)
                            };
                        } else {
                            var cbtitle= $E(field.id);
                            cbtitle.innerHTML=value;
                        }
                    }
                }
            },
            date: (d) => {
                return (d.length==10) ? d.substr(6)+'-'+d.substr(0,2)+'-'+d.substr(3,2) : '';
            },
            image: {
                align: (photo) => {
                    var offset;
                    if (photo.offsetWidth >= photo.offsetHeight) {
                        photo.style.height = '100%';
                        if ((offset = photo.offsetWidth - photo.parentNode.offsetWidth) > 50) {
                            photo.style.left = (-1*Math.round(offset/2))+"px";
                        }
                    } else {
                        photo.style.width = '100%';
                        if ((offset = photo.offsetHeight - photo.parentNode.offsetHeight) > 50) {
                            photo.style.top = (-1*Math.round(offset/2))+"px";
                        }
                    }
                }
            },
            toggle: (element,layer,resource) => {
                element.style.transform = (element.style.transform=='rotate(90deg)') ? 'rotate(270deg)' : 'rotate(90deg)';
                if (!resource) {
                    $(layer).slideToggle();
                } else {
                    (new EasyAjax(resource)).then((response) => {
                        $(layer).html(response);
                        $(layer).slideToggle();
                    }).get();
                }
            }
        }            
        const resize = () => {
            document.getElementById('outer').style.height = (window.innerHeight - (document.getElementById('navigation-bar').offsetHeight + document.getElementById('status-bar').offsetHeight))+'px';
        }
        window.onload = () => {
            resize();
            let now = new Date();
            new DigitalClock('admin-clock',now.getHours(),now.getMinutes());
            $('#admin-indicators').css('left',(window.innerWidth - $E('admin-indicators').offsetWidth)/2);
        }
        window.onresize = resize;
    </script>
    </head>
    <body>
    <div id="admin-lightbox" style="position: absolute; top: 0px; left: 0px; background-color: rgba(50,50,50,.6); display: none; z-index: 9999">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td>
                   <div style="margin: auto; height: 500px; width: 800px; padding: 10px; background-color: ghostwhite; border: 1px solid silver; border-radius: 10px">
                       <div id="admin-lightbox-output" style="height: 455px; border: 1px solid silver; overflow: auto; background-color: lightcyan; white-space: pre; font-family: monospace; font-size: .9em">
                       </div>
                       <center>
                            <button style="margin-left: auto; margin-right: auto; padding: 5px 10px; background-color: dodgerblue; font-family: sans-serif; letter-spacing: 2px; color: ghostwhite" onclick="$('#admin-lightbox').css('display','none')">Close</button>
                       </center>
                   </div>
                </td>
            </tr>
        </table>
    </div>        
    <div id="desktop-window-container" style="margin: 0px; padding: 0xp; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px;">
    <div id="paradigm-virtual-desktop" style="margin: 0px; padding: 0xp; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px;">     
        <div id="page" class="box-border flex flex-col bg-white">
            <div style="z-index: 7" id='admin-indicators' class='text-white inline-block rounded-md content-center pt-1 pb-1 pr-2 pl-2 whitespace-nowrap absolute grid rid-rows-1 grid-flow-col gap 4' >
                <div class="pr-2 pt-1 text-sm"><img src="/images/humble/green_status.png" title="Cadence is Running" class="hidden h-4 float-left mt-1.5 mr-2" id="cadence_running" />
                    <img src="/images/humble/red_status.png" title="Cadence is Stopped" class="block h-4 float-left mt-1.5 mr-2" id="cadence_stopped" /><div class="pt-1 inline-block">Cadence</div></div>
                <div class="pr-2 pt-1 text-sm"><img src="/images/humble/green_status.png" title="Message Hub Running" class="hidden h-4 float-left mt-1.5 mr-2" id="message_hub_running" />
                    <img src="/images/humble/red_status.png" title="Message Hub Stopped" class="block h-4 float-left mt-1.5 mr-2" id="message_hub_stopped" /><div class="pt-1 inline-block">Message Hub</div></div>
                <div class="pr-2 pt-1 text-sm"><img src="/images/humble/green_status.png" title="Cache Server Running" class="hidden h-4 float-left mt-1.5 mr-2" id="cache_server_running" />
                    <img src="/images/humble/red_status.png" title="Cache Server Stopped" class="block h-4 float-left mt-1.5 mr-2" id="cache_server_stopped" /><div class="pt-1 inline-block">Cache Server</div></div>
                <div class="pr-2 pt-1 text-sm"><img src="/images/humble/green_status.png" title="System Poll Running" class="hidden h-4 float-left mt-1.5 mr-2" id="system_poll_running" />
                    <img src="/images/humble/red_status.png" title="System Poll Stopped" class="block h-4 float-left mt-1.5 mr-2" id="system_poll_stopped" /><div class="pt-1 inline-block"><a href="#" onclick="Heartbeat.toggle(); return false">System Poll</a></div></div>
            </div>                
            <nav id="navigation-bar" class="relative flex-row bg-gray-100" style="z-index: 5">
                <div id='admin-clock' class="float-right text-3xl text-white"></div>
              
                <ul class='relative cursor-pointer'>
                <li style='padding-top: 6px'><img src='/images/humble/djikstra_light.png' style='height: 30px; position: relative; top: 3px; left: 5px' /></li>
                <li class='active'><a href='#'>Start...</a>
                    <ul>
                        <li><a href='#' onclick="Administration.menu.management.open(); return false">Menu Management</a></li>
                        <li><a href='#' onclick="Administration.password.change.open(); return false">Change Password</a></li>
                        <li style="border-top: 1px solid silver; "><a href='/admin/user/logout'>Logout</a>
                    </ul>
                </li>                   
                {% for category,options in menus.sort() %}
                    <li class='active'><a href='#'>{{ category }}</a>
                        <ul>
                        {% for option in options %}
                            <li><a {% if option.target %}target="{{ option.target }}"{% endif %} {% if option.href %}href='{{ option.href }}'{% endif %} {% if option.function %}onclick='{{ option.function }}; return false' {% endif %}>{{ option.menu }}</a>
                            {% if option.children %}
                                <ul>
                                {% for child in option.children %}
                                    <li><a {% if child.target %}target="{{ child.target }}"{% endif %} {% if child.href %}href='{{ child.href }}'{% endif %} {% if child.function %}onclick='{{ child.function }}; return false'{% endif %}>{{ child.menu }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                {% endfor %}
                </ul>
            </nav>
            
            <div id="outer" class="flex flex-row">
                <div id="left-col" class="h-100 w-60px bg-gray-100 text-center">
                    <div class='text-sm mb-1 cursor-pointer' title='Toggle Desktop Mode' onclick="Administration.desktop.toggle()">
                        <img src="/images/admin/desktop.png" style="margin-left: auto; margin-right: auto; height: 38px"/>
                        Desktop
                    </div>
                    
                    <hr style="margin-bottom: 10px; margin-top: 10px"/>
                    <div class='text-sm mb-1 cursor-pointer cursor-pointer' title='Documentation' style="margin-top: 20px" onclick="Administration.documentation.home()">
                        <i class="glyphicons glyphicons-book" style="margin-left: 2px; font-size: 30px"> </i><br />
                        Docs
                    </div>
                    <hr style="margin-bottom: 10px; margin-top: 10px"/>
                    <div class='text-sm mb-1 cursor-pointer cursor-pointer' title='Unit Tests' onclick="Administration.tests.home()">
                        <i class="glyphicons glyphicons-car-wheel" style="margin-left: 2px; font-size: 30px; margin-top: 5px"></i><br />
                        Unit Tests
                    </div>
                    <hr style="margin-bottom: 10px; margin-top: 10px"/>
                    <div class='text-sm mb-1 cursor-pointer cursor-pointer' title='Services Explorer' onclick="Administration.services.directory.index()">
                        <img src="/images/admin/microservices.png" style="margin-left: auto; margin-right: auto; height: 38px"/>
                        Services
                    </div>                    
                    <hr style="margin-bottom: 10px; margin-top: 10px"/>
                    <div class='text-sm mb-1 cursor-pointer' title='Event Monitor' onclick="Administration.events.open()">
                        <i class="glyphicons glyphicons-warning-sign" style="margin-left: 2px; font-size: 30px"></i>
                    </div>
                    <hr style="margin-bottom: 10px; margin-top: 10px"/>
                    <div class='text-sm mb-1 cursor-pointer' title='General Log Viewer' onclick="Administration.logs.open('General')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        General
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='Warning Log Viewer' onclick="Administration.logs.open('Warning')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Warning
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='Error Log Viewer' onclick="Administration.logs.open('Error')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Error
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='Access Log Viewer' onclick="Administration.logs.open('Access')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Access
                    </div>                      
                    <div class='text-sm mb-1 cursor-pointer' title='Users Log Viewer' onclick="Administration.logs.open('User')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Users
                    </div>                    
                    <div class='text-sm mb-1 cursor-pointer' title='SQL Log Viewer' onclick="Administration.logs.open('MySQL')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        SQL
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='MongoDB Log Viewer' onclick="Administration.logs.open('MongoDB')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        MongoDB
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='System Log Viewer' onclick="Administration.logs.open('System')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        System
                    </div>
                    <div class='text-sm mb-1 cursor-pointer' title='Log Viewer' onclick="Administration.logs.open('Query')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Query
                    </div>   
                    <div class='text-sm mb-1 cursor-pointer' title='Cadence Log Viewer' onclick="Administration.logs.open('Cadence')">
                        <i class="glyphicons glyphicons-blog" style="margin-left: 2px; font-size: 30px"></i><br />
                        Cadence
                    </div>                     
                    <hr style="margin-bottom: 10px; margin-top: 5px"/>
                    <div id="landing-minimized-windows" style=" width: 100%; height: 400px; padding-top: 5px; padding-bottom: 5px; border: 1px solid transparent; border-radius: 5px;">

                    </div>                    
                </div>
                <div id="mid-col" class="w-80 bg-gray-500 overflow-hidden" style="z-index: 2">

                    <div id='user-roles' class="text-center text-xl">
                        Administrator
                    </div>
                    <div class='relative'>
                        <div class='rounded-full relative overflow-hidden h-64 border-2' id='user-portrait'>
                            <img id="avatar_image" onload="tools.image.align(this)" src='{% if (user.avatar_image)  %}{{ user.avatar_image }}{% else %}/images/admin/placeholder-{{ user.gender }}.png{% endif %}' class="m-auto w-full z-1" />
                        </div>
                    </div>
                        <div id='user-identification'>
                            <div id='user-name' class="text-center text-xl">
                                <a href="#" onclick="Administration.user.details();return false" title="click to review user details">{{ user.first_name }} {{ user.last_name }}</a>
                            </div>
                        </div>       
                    <div id='server_status' class="flex flex-row justify-center h-70px whitespace-nowrap mt-4" >
                        <div class="inline text-center">
                            <div class="text-sm font-serif pr-4" id="server-cpu-load">---</div>
                            <div class="text-xs font-font-mono">CPU Load</div>
                        </div>
                        <div class="inline text-center">
                            <div class="text-sm font-serif pr-4" id="server-memory-load">---</div>
                            <div class="text-xs font-font-mono">Memory Details</div>
                        </div>
                        <div class="inline text-center">
                            <div class="text-sm font-serif pr-4" id="server-tasks">---</div>
                            <div class="text-xs font-font-mono">Threads</div>
                        </div>                        
                    </div>                                
                </div>
                <div id="right-col" class="w-full bg-gray-300 overflow-auto grow">
                    <div id='desktop-container' class='w-full h-full relative hidden'></div>
                    <div id='dashboard-container'>
                    <div style="float: right; margin-right: 10px; padding: 5px 20px; white-space: nowrap">
                        <b>STATE </b>
                        {% set state = system.state() %}
                        <select name="state" id="state" onchange="Administration.change.state(this)" style="background-color: #cc4444; color: ghostwhite; font-size: 1.1em; height: 28px; letter-spacing: 1px; font-family: monospace; font-weight: bold; border-radius: 4px; padding: 4px">
                            {% for stage in system.stages() %}
                                <option value="{{ stage }}" {% if (stage==state) %}selected="selected"{% endif %} title="">{{ stage }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="py-2 px-1 w-[1000] flex flex-row justify-start gap-8">
                        <div onclick="Administration.create.package()"    class="drop-shadow-xl flex-initial basis-1/5 bg-blue-600 text-white p-2 rounded-3xl cursor-pointer hover:bg-blue-500 tracking-wider text-center" title="Create New Package (Module Directory)"><span class="text-xl font-bold">+</span> Package</div>
                        <div onclick="Administration.create.module()"     class="drop-shadow-xl flex-initial basis-1/5 bg-blue-600 text-white p-2 rounded-3xl cursor-pointer hover:bg-blue-500 tracking-wider text-center" title="Create New Module"><span class="text-xl font-bold">+</span> Module</div>
                        <div onclick="Administration.create.controller()" class="drop-shadow-xl flex-initial basis-1/5 bg-blue-600 text-white p-2 rounded-3xl cursor-pointer hover:bg-blue-500 tracking-wider text-center" title="Create New Controller"><span class="text-xl font-bold">+</span> Controller</div>
                        <div onclick="Administration.create.component()"  class="drop-shadow-xl flex-initial basis-1/5 bg-blue-600 text-white p-2 rounded-3xl cursor-pointer hover:bg-blue-500 tracking-wider text-center" title="Create New Component (Model, Entity, or Helper)"><span class="text-xl font-bold">+</span> Component</div>
                    </div>
                       {% for package, modules in installer.getModules() %}
                            <div class='w-full bold pt-2 pb-2 text-lg clear-both font-black border-2 border-solid border-black bg-white'>Package: <b> {{ package }} </b></div><div class='h-1'></div>
                            {% for module in modules %}
                                {% set data = directory.moduleInformation(module.namespace) %}
                                {% set tw_installed = tailwind.check(module.namespace) %}   
                                {% set tw_running   = tailwind.running(module.namespace) %}
                                <div class='w-auto text-md inline-block mr-2 border-black border-2'>
                                    <div class='from-gray-50 pt-2 pb-2'>
                                        <div class="float-right mr-1">   
                                            <table>
                                                <tr>
                                                    {% if data.installed != '' %}
                                                        {% set color = 'white' %}
                                                        <td class="border-solid"><div class="bg-red-300 border-2 border-black p-1 rounded-full"><img src="/images/admin/tailwind.png" class="cursor-pointer w-[26px] " /></div></td>
                                                        <td class="border-solid"><img onclick='Administration.update("{{ package }}","{{ module.module }}","{{ module.namespace  }}")' src='/images/humble/icons/update.png' class="cursor-pointer h-7"   title='Update...'/></td>
                                                        <td class="border-solid"><img onclick='Administration.compile("{{ package }}","{{ module.module }}","{{ module.namespace  }}")' src='/images/humble/icons/compile.png' class="cursor-pointer h-6"  title='Compile Controllers...'/></td>
                                                        <td class="border-solid"><img onclick='Administration.clearcache("{{ package }}","{{ module.module }}","{{ module.namespace  }}")' src='/images/humble/icons/clearcache.png' class="cursor-pointer h-8" title='Clear Cache...'/></td>
                                                        <td class="border-solid">
                                                        {% if data.required != 'Y' %}
                                                            <input type='checkbox' onclick='Administration.enable(this,"{{ module.namespace  }}","{{ package }}")' name='{{ module.namespace  }}' id='{{ module.namespace  }}'
                                                            {% if data.enabled == 'Y' %}
                                                                checked
                                                            {% endif %}   
                                                        {% endif %}
                                                    {% else %}
                                                        <td  class="border-solid"><img onclick='Administration.install("{{ package }}","{{ module.module }}","{{ module.namespace }}")' src='/images/humble/icons/install.png' class="cursor-pointer h-5 mr-1"  title='Install...'/></td>
                                                        {% set color = 'red' %}
                                                    {% endif %}
                                                </tr>
                                            </table>
                                        </div>
                                        {% if module.installed == '' %}
                                            {% if data.required != 'Y' %}
                                            <img onclick='Administration.uninstall("{{ package }}","{{ module.module }}","{{ module.namespace  }}")' src='/images/humble/icons/uninstall.png' class="cursor-pointer float-left h-6 mr-1 align-top" title='Uninstall...'/>
                                            {% endif %}
                                        {% endif %}
                                        <span class="text-lg font-black font-sans">{{ module.title }}</span>
                                    </div>
                                                               
                                    <div>
                                        <table class="w-full border-solid border-black border-2">
                                            <tr>
                                                <td colspan='3'>
                                                    <div class='text-sm font-mono'>Description</div>
                                                    <div id="text-base font-sans pl-4">{{ module.description }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="w-64 border-solid border-black border-2"><div class='text-sm font-mono'>Namespace</div><div class="text-base font-sans pl-4"><b>{{ module.namespace  }}</b></div></td>
                                                <td class="w-64 border-solid border-black border-2"><div class='text-sm font-mono bl-2 border-slate-600'>Author</div><div class="text-base font-sans pl-4">{{ module.author }}</div></td>
                                                <td class="w-64 border-solid border-black border-2"><div class='text-sm font-mono'>Version</div><div class="text-base font-sans pl-4">{{ module.version }}</div></td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid border-black border-2"><div class='text-sm font-mono'>Prefix</div><div class="text-base font-sans pl-4">{{ module.prefix }}</div></td>
                                                <td  class="border-solid border-black border-2"><div class='text-sm font-mono'>Email</div><div class="text-base font-sans pl-4">{{ module.email }}</div></td>
                                                <td  class="border-solid border-black border-2"><div class='text-sm font-mono'>Weight</div><div class="text-base font-sans pl-4">{{ module.weight }}</div></td>
                                            </tr>
                                        </table>
                                        <table class="w-full border-solid border-black border-2">
                                            <tr>
                                                <td class="w-48">
                                                    <div class='text-sm font-mono'>Models</div>
                                                    {% set icon = directory.exists(module.models,module) %}
                                                    <div class="text-base font-sans pl-4">{{ icon|raw }}{{ module.models }}</div>
                                                </td>
                                                <td class="w-48">
                                                    <div class='text-sm font-mono'>Entities</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.entities,module)|raw }}{{ module.entities }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Controllers</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.controller,module)|raw }}{{ module.controller }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Controllers Cache</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.controller_cache,module)|raw }}{{ module.controller_cache }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Views</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.views,module)|raw }}{{ module.views }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Views Cache</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.views_cache,module)|raw }}{{ module.views_cache }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Helpers</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.helpers,module)|raw }}{{ module.helpers }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>RPC</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.RPC,module)|raw }}{{ module.RPC }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Schema Install</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.schema_install,module)|raw }}{{ module.schema_install }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Schema Update</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.schema_update,module)|raw }}{{ module.schema_update }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Images</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.images,module)|raw }}{{ module.images }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Default Templater</div>
                                                    <div class="text-base font-sans pl-4">{{ module.templater }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'> MongoDB</div>
                                                    <div class="text-base font-sans pl-4">{{ module.mongodb }}</div>
                                                </td>
                                                <td  class="border-solid">
                                                    <div class='text-sm font-mono'>Configuration</div>
                                                    <div class="text-base font-sans pl-4">{{ directory.exists(module.configuration,module)|raw }}{{ module.configuration }}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                                                    
                </div>
                </div>
                <div style="position: absolute; z-index: 10; bottom: 40px; width: 600px; height: 40px; border: 2px solid black; border-radius: 20px; background-color: rgba(200,200,200,1.0)" id="minimized_windows_tray"></div>
            </div>
           
            <div id="status-bar" class="bg-gray-900 h-30px relative">
                Status Bar
            </div>
        </div>
        </div>
        </div>
        </body>
</html>