<style type="text/css">
    .zebra-table tr:nth-child(even) {
      background-color: #dadada;
    }
    .zebra-row {
         border: 1px solid transparent; opacity: .75
    }
    .zebra-row:hover {
        opacity: 1.0; border: 1px solid #777
    }
    .text-cell:hover {
        border: 1px solid #777
    }
</style>
<form nohref onsubmit="return false" class="explorer_form_{{ window_id }}_{{ tab_id }}">
    <div class="header_{{ window_id }}_{{ tab_id }} text-white align-right bg-[#333333] p-1">
        <div class="float-right">
        Context: <select name="context" class="text-gray-800 pt-1 pb-1">
                    <option value=""> </option>
                    {% for entity in entities %}
                        <option value="{{ entity }}"> {{ entity }} </option>
                    {% endfor %}
                </select>
        </div>
        <img class="workspace_{{ window_id }}_{{ tab_id }} cursor-pointer h-[24] inline-block" src="/images/admin/workspace.png" title="Save Workspace"/>  
        <div style="clear: both"></div>
    </div>
    <div class="query_{{ window_id }}_{{ tab_id }} p-1">
        <textarea id='query_textarea_{{ window_id }}_{{ tab_id }}' class="query_textarea_{{ window_id }}_{{ tab_id }} p2 w-full h-[300] text-mono" style="background-color: lightcyan; border: 1px solid #333; color: #333; font-size: .9em"></textarea>
    </div>
    <div class='query_controls_{{ window_id }}_{{ tab_id }} bg-[#333333]'>
        <div class="p-1 text-white inline-block">
            <img class="run_query_{{ window_id }}_{{ tab_id }} cursor-pointer h-[24] inline-block" src="/images/admin/play.png" title="Run Query"/> 
            <img class="save_query_{{ window_id }}_{{ tab_id }} cursor-pointer h-[24] inline-block" src="/images/admin/save.png" title="Save Query"/> 
        </div>
        <div id='entity_query_nav_{{ window_id }}_{{ tab_id }}' class='inline-block' style='vertical-align: bottom'>
        </div>
    </div>
    <div id='entity_area_{{ window_id }}_{{ tab_id }}' class="entity_area_{{ window_id }}_{{ tab_id }}">

    </div>
    <div id='query_results_tab_{{ window_id }}_{{ tab_id }}' class="query_results_tab_{{ window_id }}_{{ tab_id }}">
      Query Results Tab
    </div>
    <div id='query_edit_tab_{{ window_id }}_{{ tab_id }}' class="query_edit_tab_{{ window_id }}_{{ tab_id }}">
     Edit Query Results Tab
    </div>    
</form>
<script type="text/javascript">
    ((win)=> {
        let explorer_form   = $('.explorer_form_{{ window_id }}_{{ tab_id }}').get(0);
        let explorer_nav    = $('#entity_explorer_nav_{{ window_id }}').height();
        let header          = $('.header_{{ window_id }}_{{ tab_id }}').get(0);
        let controls        = $('.query_controls_{{ window_id }}_{{ tab_id }}').get(0);
        let entity_area     = $('.entity_area_{{ window_id }}_{{ tab_id }}').get(0);
        let query_textarea  = $('.query_textarea_{{ window_id }}_{{ tab_id }}').get(0);
        let query_area      = $('.query_{{ window_id }}_{{ tab_id }}').get(0);
        win._title('Entity Explorer');
        Humble.admin['entity'] = (!Humble.admin['entity']) ? {} : Humble.admin['entity'];
        Humble.admin['query']  = (!Humble.admin['query'])  ? {} : Humble.admin['query'];
        Humble.admin['entity']['{{ window_id }}_{{ tab_id }}'] = Vue.createApp({
            template:   Humble.template('admin',"entity/list",true),
            app:        null,
            form:       explorer_form,
            data() {
                return {
                    window_id:      '{{ window_id }}',
                    tab_id:         '{{ tab_id }}',
                    win:            Desktop.window.list['{{ window_id }}'],
                    tabs:           false,                    
                    query:          query_area,
                    header:         header,
                    controls:       controls,
                    footer:         0,
                    title:          0,
                    form:           null,
                    list: {
                        tab:        'list_tab_{{ window_id }}_{{ tab_id }}',
                        area:       'entity_list_{{ window_id }}_{{ tab_id }}',                
                        footer:     'entity_footer_{{ window_id }}_{{ tab_id }}',
                        title:      'entity_title_{{ window_id }}_{{ tab_id }}',
                        headers:    [],
                        entities:   [],
                        page:       1,
                        pages:      0,
                        rows:       20,
                        fromRow:    1,
                        toRow:      1,
                        totalRows:  0
                    },
                    econtent: {
                        entity:     null,
                        table:      null,
                        namespace:  null,
                        tab:        'content_tab_{{ window_id }}_{{ tab_id }}',
                        area:       'content_area_{{ window_id }}_{{ tab_id }}',                
                        footer:     'content_footer_{{ window_id }}_{{ tab_id }}',
                        title:      'content_title_{{ window_id }}_{{ tab_id }}',
                        headers:    [],
                        data:       [],
                        page:       1,
                        pages:      0,
                        rows:       20,
                        fromRow:    1,
                        toRow:      1,
                        totalRows:  0
                    },
                    edit: {
                        tab:        'edit_tab_{{ window_id }}_{{ tab_id }}',
                        footer:     'edit_footer_{{ window_id }}_{{ tab_id }}',
                        area:       'edit_area_{{ window_id }}_{{ tab_id }}',
                        title:      'edit_title_{{ window_id }}_{{ tab_id }}',
                        form:       'explorer_edit_form_{{ window_id }}_{{ tab_id }}',
                        fields:     [],
                        id:         0,
                    },                            
                    context:        [],
                    content:        []
                }
            },
            mounted() {
                //alert('mounted');
                this.win.resize(this.sizeIt).resize();
                new ResizeObserver(this.sizeIt).observe(query_textarea);
                /*
                 * Now declare the tabs with easytab
                 */
                this.footer = ($('#'+this.list.footer).height() || $('#'+this.econtent.footer).height() || $('#'+this.edit.footer).height() );
                this.title = ($('#'+this.list.title).height() || $('#'+this.econtent.title).height() || $('#'+this.edit.title).height());
                this.form  = $('#'+this.edit.form).get();
                console.log(this.form);
                this.tabs = new EasyTab('entity_query_nav_{{ window_id }}_{{ tab_id }}',120);
                this.tabs.add('Entities',null,this.list.tab);
                this.tabs.add('Content',null,this.econtent.tab);
                this.tabs.add('Edit',null,this.edit.tab);
                this.tabs.add('Query Results',null,'query_results_tab_{{ window_id }}_{{ tab_id }}');
                this.tabs.add('Query Edit',null,'query_edit_tab_{{ window_id }}_{{ tab_id }}');
                this.tabs.tabClick(0);
                this.entities();
            },
            unmounted() {
                this.cleanup();
            },
            methods: {
                screenIt(val) {
                    if (typeof val == 'object') {
                        val= JSON.stringify(val);
                    }
                    return val;
                },
                sizeIt() {
                    let h = this.win.content.height() - this.header.offsetHeight - this.controls.offsetHeight - this.query.offsetHeight - explorer_nav - this.footer - this.title - 34;
                    $('#'+this.list.area).height(h);
                    $('#'+this.econtent.area).height(h);
                    $('#'+this.edit.area).height(h);
                    //$('#'+this.list.footer).height()
                },
                entityFirst() {
                    this.list.page = 1;
                    this.entities();
                },
                entityPrev() {
                    if (--this.list.page < 1) {
                        this.list.page = this.list.pages;
                    }
                    this.entities();                    
                },
                entityNext() {
                    if (++this.list.page > this.list.pages) {
                        this.list.page = 1;
                    }
                    this.entities();                    
                },
                entityLast() {
                    this.list.page = this.list.pages;
                    this.entities();                    
                },
                entityPagination(p) {
                    this.list.totalRows  = p.rows.total;
                    this.list.fromRow    = p.rows.from;
                    this.list.toRow      = p.rows.to;
                    this.list.page       = p.pages.current;
                    this.list.pages      = p.pages.total;
                },  
                entities() {
                    let app = this;
                    var ao  = new EasyAjax('/admin/entity/list') ;
                    ao.add('page',this.list.page).add('rows',this.list.rows).add('window_id',this.window_id).then((response)=>{
                        if (response) {
                            let entities = JSON.parse(response);
                            let headers  = [];
                            for (var i in entities[0]) {
                                headers[headers.length] = i;
                            }
                            app.list.headers  = headers;
                            app.list.entities = entities;
                            app.entityPagination(ao.getPagination());
                        }
                    }).post();
                },
                contentFirst() {
                    this.econtent.page = 1;
                    this.expand();
                },
                contentPrev() {
                    if (--this.econtent.page < 1) {
                        this.econtent.page = this.econtent.pages;
                    }
                    this.expand();                    
                },
                contentNext() {
                    if (++this.econtent.page > this.econtent.pages) {
                        this.econtent.page = 1;
                    }
                    this.expand();                    
                },
                contentLast() {
                    this.econtent.page = this.econtent.pages;
                    this.expand();                    
                },                
                contentPagination(p) {
                    this.econtent.totalRows  = p.rows.total;
                    this.econtent.fromRow    = p.rows.from;
                    this.econtent.toRow      = p.rows.to;
                    this.econtent.page       = p.pages.current;
                    this.econtent.pages      = p.pages.total;
                },                    
                expand(entity) {
                    if (entity) {
                        this.econtent.entity = entity;
                    }
                    let app                 = this;
                    let parts               = this.econtent.entity.split('_');
                    this.econtent.namespace = parts.shift();
                    this.econtent.table     = parts.join('_');
                    this.tabs.tabClick(1);
                    let ao = new EasyAjax('/admin/entity/content');
                    ao.add('namespace',this.econtent.namespace).add('entity',this.econtent.table).add('rows',this.econtent.rows).add('page',this.econtent.page).then((response) => {
                        let rows     = JSON.parse(response);
                        let headers  = [];
                        for (var i in rows[0]) {
                            headers[headers.length] = i;
                        }
                        app.econtent.headers = headers;
                        app.econtent.data    = rows;
                        app.contentPagination(ao.getPagination());
                    }).post();
                },
                editRow(id) {
                    let app = this;
                    app.tabs.tabClick(2);
                    this.edit.id = id;
                    (new EasyAjax('/admin/entity/edit')).add('namespace',this.econtent.namespace).add('id',id).add('entity',this.econtent.table).then((response) => {
                        app.edit.fields = JSON.parse(response);
                        //now set the form intercept
                        //Form.intercept(Form Reference,MongoDB ID,optional URL or just FALSE,Dynamic WindowID to Close After Saving);
                        Form.intercept($('#'+app.edit.form).get(),null,'/admin/entity/updaterow',null);                        
                    }).post();
                },
                cleanup() {
                    //maybe do something?
                }
            }          
        });
        Humble.admin['entity']['{{ window_id }}_{{ tab_id }}'].mount(entity_area);
    })(Desktop.window.list['{{ window_id }}']);
      
</script>
