<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

    {% set perms = permissions.load() %}
    {% if (perms.admin == "Y") %}
        {% set flip = true %}
        <center>
            <table>
            {% for user in users.fetch(true) %}
                {% if (flip) %}
                    {% set color='#eaeaea' %}
                    {% set flip = false %}
                {% else %}
                    {% set color='#f2f2f2' %}
                    {% set flip = true %}
                {% endif %}
                {% set al = alias.setUid(user.uid) %}
                {% set al = alias.load() %}
                <tr style='background-color: {{ color }}'>
                    <td><img style='cursor: pointer' onclick="configuration.users.remove('{{ user.uid }}','{{ al.alias }}')" src='/images/desktop/clipart/remove.gif' title='click to delete this user' /></td>
                    <td>{{ user.firstname }} {{ user.lastname }} {% if (user.nickname) %} ({{ user.nickname }}) {% endif %}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.addr1 }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.state }}</td>
                    <td>{{ user.zipcode }}</td>
                    <td>{{ user.birthday }}</td>
                </tr>
            {% endfor %}
            </table>
        </center>
    {% else %}
        NOT AUTHORIZED!
    {% endif %}
    </body>
</html>
