<div id="services_app_header-{{ window_id }}" class="p-2" style="background-color: #333; color: ghostwhite; font-family: sans-serif; text-align: right; padding-right: 10px">
    This is the header
</div>
<div id="services_app_body-{{ window_id }}" class="">
    <div id="services_app-{{ window_id }}">
    </div>
</div>
<div id="services_app_footer-{{ window_id }}" class="" style="background-color: #333; color: ghostwhite; font-family: sans-serif; text-align: right; padding-right: 10px">
    Services Explorer
</div>
<script type="text/javascript"> 

    (function () {
        
        var win = Desktop.window.list['{{ window_id }}'];
       // Humble.admin['services']['{{ window_id }}'].mount('#'+win.content.id);
        win._title('Services Explorer').resize(() => {
            console.log('resizing');
            $('#services_app_body-{{ window_id }}').height(win.content.height() - $E('services_app_header-{{ window_id }}').offsetHeight - $E('services_app_footer-{{ window_id }}').offsetHeight - 2);
        }).resize();
   /*     win.close(() => {  //app
            return function () {
              //  app.unmount();
            };
        })(); //Humble.admin['services']['{{ window_id }}']*/
    })();
</script>