<div id="services_app_header-{{ window_id }}" class="p-2" style="background-color: #333; color: ghostwhite; font-family: sans-serif; text-align: right; padding-right: 10px">
    This is the header
</div>
<div id="services_app_body-{{ window_id }}" class="">
    <div id="services_app-{{ window_id }}">
        here
    </div>
</div>
<div id="services_app_footer-{{ window_id }}" class="" style="background-color: #333; color: ghostwhite; font-family: sans-serif; text-align: right; padding-right: 10px">
    Services Explorer
</div>
<div id="services_app_tool-{{ window_id }}"></div>
<script type="text/javascript"> 
    (function () {
        
        var win = Desktop.window.list['{{ window_id }}'];
        win._title('Services Explorer').resize(() => {
            $('#services_app_body-{{ window_id }}').height(win.content.height() - $E('services_app_header-{{ window_id }}').offsetHeight - $E('services_app_footer-{{ window_id }}').offsetHeight - 2);
        }).resize();
        Humble.admin['services'] = (!Humble.admin['services']) ? {} : Humble.admin['services'];
        Humble.admin['services']['{{ window_id }}'] = Vue.createApp({
            template: Humble.template('admin','services/list',true),
            app: "#services_app-{{ window_id }}",
            data() {
                    return {
                        window_id: "{{ window_id }}",
                        poll_timer: false,
                        services: {

                        }
                    }
                },
            mounted() {
                this.run();
            },
            unmounted() {
                this.stop();
            },
            methods: {
                poll() {
                    console.log('Polling services');
                    this.poll_timer = window.setTimeout(this.run,5000);
                },
                update(data) {
                    this.services = data;
                },
                run() {
                    var me = this;
                    (new EasyAjax('/admin/services/list').add('window_id','{{ window_id }}').then((response) => {
                        if (response) {
                            me.update(JSON.parse(response));
                        }
                       // me.poll();
                    }).get());

                },
                stop() {
                    window.clearTimeout(this.poll_timer);
                },
                restart() {

                },
                startService(service) {
                    if (confirm('Start service '+service+'?')) {
                        var me = this;
                        (new EasyAjax('/admin/services/start')).add('service',service).then((response) => {
                            if (response) {
                                me.update(JSON.parse(response));
                            }                            
                        }).post();
                    }                    
                },
                stopService(service) {
                    if (confirm('Stop service '+service+'?')) {
                        var me = this;
                        (new EasyAjax('/admin/services/stop')).add('service',service).then((response) => {
                            if (response) {
                                me.update(JSON.parse(response));
                            }                            
                        }).post();
                    }                    
                },
                restartService(service) {
                    if (confirm('Restart service '+service+'?')) {
                        var me = this;
                        (new EasyAjax('/admin/services/restart')).add('service',service).then((response) => {
                            if (response) {
                                me.update(JSON.parse(response));
                            }                            
                        }).post();
                    }                    
                }
            }
        });
        var win = Desktop.window.list['{{ window_id }}'];
        win.close( ((app) => {  
            return function () {
               app.unmount();
            }
        })(Humble.admin['services']['{{ window_id }}'])); 
        Humble.admin['services']['{{ window_id }}'].mount('#services_app-{{ window_id }}');    
    })();
</script>