<div id="user_details">
</div>
<script>
    if (typeof details_app === 'undefined') {
        let details_app = Vue.createApp({
            template: Humble.template('admin','details'),
            data: () => {
                return {
                    first_name: "{{ user.first_name }}",
                    middle_name: "{{ user.middle_name }}",
                    last_name:  "{{ user.last_name }}",
                    email:      "{{ user.email }}",
                    user_name:  "{{ user.user_name }}",
                    gender:     "{{ user.gender }}",
                    date_of_birth: "{{ user.dob }}",
                    suffix:     "{{ user.name_suffix }}",
                    avatar_image: "{{ user.avatar_image }}"
                }
            },
            methods: {
                saveDetails: async () => {
                    if (Edits['user-details'].validate()) {
                        const form = document.querySelector('#user_details_form');
                        const response = await fetch('/admin/user/save', {
                            method: 'POST',
                            body: new FormData(form)
                        });
                        let text = await response.text();
                        console.log(text);
                        alert((text=='') ? 'Error, User Detail Update Failed' : 'Details Changed');
                    }   
                },
                updateAvatar: async () => {
                    if (Edits['user-details'].validate()) {
                        const form = document.querySelector('#user_avatar_form');
                        const response = await fetch('/admin/user/avatar', {
                            method: 'POST',
                            body: new FormData(form)
                        });
                        let text = await response.text();
                        console.log(text);
                        $E('admin_avatar').src=text;
                        $E('avatar_image').src=text;
                    }                      
                },
                updatePassword: async () => {
                    if (Edits['admin-password'].validate()) {
                        const form = document.querySelector('#user_password_form');
                        const response = await fetch('/admin/password/save', {
                            method: 'POST',
                            body: new FormData(form)
                        });
                        let text = await response.text();
                        console.log(text);
                        alert((text=='') ? 'Error, Password Change Failed' : 'Password Changed');
                    }                      
                }
            }
        });
        details_app.mount('#user_details');
        new EasyEdits('/edits/admin/details','user-details');
        new EasyEdits('/edits/admin/password','admin-password');
    }
</script>
